<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--
0 : képek
1 : meta
2 : leírás
 2;Cirmi;macska;3;nőstény-->
<body>
    {% for animal in animal_data %}
    <div>
        <table>
            <tr>
                <th>Név</th><th>Állatfaj</th><th>Életkor</th><th>Nem</th>
           </tr>
            <tr>
                <td>{{animal}}</td> <td>{{animal_data[animal][1][2]}}</td> <td>{{animal_data[animal][1][3]}} év</td>
                <td>{{animal_data[animal][1][4]}}</td>
            <tr>
            <th>Leírás:</th> <td>{{ animal_data[animal][2] }}</td>
            </tr>
            </tr>
            {% for img in animal_data[animal][0] -%}
            <tr>
            <td>{{ img }}}</td>
            </tr>
            {% endfor %}

    </table>
    </div>

    {% endfor %}
</body>
</html>